#todo{
    text-align: center;
    background:#ffffff;
    width:35%;
    border:2px dotted rgb(0, 0, 0);
    padding:8px;
    margin:auto;
    border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Titulo{

     font-family:Courier New;
     font-size: 40px;
     
   }
#texmensaje{
  font-family: Courier New;
}

  body{
    margin: 0;
    padding: 0;
    background: url(fondolisorosa.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#decode{
  background-color: #febbdd; 
  border-radius: 6px;
  border: 2px solid #ffcce6;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* */
#encode{
  background-color: #febbdd; 
  border-radius: 6px;
  border: 2px solid #ffcce6;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

#mensaje{
  border-radius: 6px;
  border: 2px solid #ffcce6;
  padding: 15px 32px;
 
}

#desplazamiento{
  border-radius: 6px;
  border: 2px solid #ffcce6;
  padding: 5px;
   width: 50px;
  height: 20px;
}

#mensajeCifrado{
  border-radius: 6px;
  border: 2px solid #ffcce6;
  padding: 15px 32px;
}